<!-------------------------------------------------------------------------------------------------->
<!-- Containers -->
<!-------------------------------------------------------------------------------------------------->
<div data-type="container" data-preview="template/preview/fullwidth_row_12.png" data-bfeditor-title="FullWidth 1 column" data-categories="1 column;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" data-type="container-content">
            </div>
        </div>
    </div>
</div>
<div data-type="container" data-preview="template/preview/fullwidth_row_6_6.png" data-bfeditor-title="fullwidth 2 columns (50% - 50%)" data-categories="2 columns">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" data-type="container-content">
            </div>
            <div class="col-sm-6" data-type="container-content">
            </div>
        </div>
    </div>
</div>
<div data-type="container" data-preview="template/preview/fullwidth_row_4_8.png" data-bfeditor-title="fullwidth 2 columns (33% - 67%)" data-categories="2 columns;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" data-type="container-content">
            </div>
            <div class="col-sm-8" data-type="container-content">
            </div>
        </div>
    </div>
</div>
<div data-type="container" data-preview="template/preview/fullwidth_row_8_4.png" data-bfeditor-title="fullwidth 2 columns (67% - 33%)" data-categories="2 columns;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8" data-type="container-content">
            </div>
            <div class="col-sm-4" data-type="container-content">
            </div>
        </div>
    </div>
</div>
<div data-type="container" data-preview="template/preview/fullwidth_row_4_4_4.png" data-bfeditor-title="fullwidth 3 columns (33% - 33% - 33%)" data-categories="3 columns;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" data-type="container-content">
            </div>
            <div class="col-sm-4" data-type="container-content">
            </div>
            <div class="col-sm-4" data-type="container-content">
            </div>
        </div>
    </div>
</div>
<div data-type="container" data-preview="template/preview/fullwidth_row_3_6_3.png" data-bfeditor-title="fullwidth 3 columns (25% - 50% - 35%)" data-categories="3 columns;">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" data-type="container-content">
            </div>
            <div class="col-sm-6" data-type="container-content">
            </div>
            <div class="col-sm-3" data-type="container-content">
            </div>
        </div>
    </div>
</div>
<div data-type="container" data-preview="template/preview/fullwidth_row_3_3_3_3.png" data-bfeditor-title="fullwidth 4 columns (25% - 25% - 25% - 25%)" data-categories="4 columns;">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" data-type="container-content">
            </div>
            <div class="col-sm-3" data-type="container-content">
            </div>
            <div class="col-sm-3" data-type="container-content">
            </div>
            <div class="col-sm-3" data-type="container-content">
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------------------------------------------------------------->
<!-- Components -->
<!-------------------------------------------------------------------------------------------------->

<div data-type="component-text" data-preview="template/preview/content_title.png" data-bfeditor-title="Content Title" data-categories="Text;Title">
    <div class="second-title">
        <h4 class="subtitle color-dr-blue-2 underline">subtitle</h4>
        <h2>Content Title</h2>
    </div>
</div>
<div data-type="component-text" data-preview="template/preview/content_title_alt.png" data-bfeditor-title="Content Title Alt" data-categories="Text;Title">
    <div class="second-title style-2">
        <h4 class="color-white underline">subtitle</h4>
        <h2 class="color-white">Content Title</h2>
    </div>
</div>
<div data-type="component-text" data-preview="template/preview/content_header.png" data-bfeditor-title="Content header" data-categories="Text;Heading">
    <div class="page-header" style="text-align: center;">
      <h3>Content Header<br/><small>Subtext for header</small></h3>
    </div>
</div>
<div data-type="component-text" data-preview="template/preview/text.png" data-bfeditor-title="Text block" data-categories="Text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro labore architecto fuga tempore omnis aliquid, rerum numquam deleniti ipsam earum velit aliquam deserunt, molestiae officiis mollitia accusantium suscipit fugiat esse magnam eaque cumque, iste corrupti magni? Illo dicta saepe, maiores fugit aliquid consequuntur aut, rem ex iusto dolorem molestias obcaecati eveniet vel voluptatibus recusandae illum, voluptatem! Odit est possimus nesciunt.</p>
</div>
<div data-type="component-photo" data-preview="template/preview/image.png" data-bfeditor-title="Image" data-categories="Text">
    <div class="photo-panel">
        <a href="">
            <img src="assets/images/placeholder/placeholder_small_1.jpg" width="100%" height="" />
        </a>
    </div>
</div>
<div data-type="component-list" data-preview="template/preview/partners.png" data-bfeditor-title="Partners" data-categories="List;Gallery">
    <div class="row" data-list='[
            {"type":"image", "label":"Icon"},
            {"type":"text", "label":"Partner"},
            {"type":"text", "label":"Link"}
        ]' data-records='[
            {"_id": 0, "Icon": "https://www.dropbox.com/s/312sjqayctl7g0a/dot.png?raw=1", "Partner": "Department of Tourism Philippines", "Link": "#"},
            {"_id": 1, "Icon": "https://www.dropbox.com/s/kcafoew022rsq12/diveassure.png?raw=1", "Partner": "Dive Assure", "Link": "#"},
            {"_id": 2, "Icon": "https://www.dropbox.com/s/u0tqkazcao6vspf/padi.png?raw=1", "Partner": "PADI", "Link": "#"},
            {"_id": 3, "Icon": "https://www.dropbox.com/s/bbtu3nrih0xpqc2/pcssd.png?raw=1", "Partner": "Philippine Commission on Sports  Scubadiving", "Link": "#"}
        ]' data-count="3">
        <div class="hide" data-item="">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="icon-block style-3 bg-white">
                    <a href="((Link))" target="_blank">
                        <img class="icon-img" src="((Icon))" alt="">
                        <h5 class="icon-title color-dark-2">((Partner))</h5>
                    </a>
                </div>
            </div>    
        </div>    
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 ng-scope" ng-repeat="partner in partners">
                <div class="icon-block style-3 bg-white">
                    <a href="#" target="_blank">
                        <img class="icon-img" src="https://www.dropbox.com/s/312sjqayctl7g0a/dot.png?raw=1" alt="">
                        <h5 class="icon-title color-dark-2 ng-binding">Department of Tourism Philippines</h5>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 ng-scope" ng-repeat="partner in partners">
                <div class="icon-block style-3 bg-white">
                    <a href="#" target="_blank">
                        <img class="icon-img" src="https://www.dropbox.com/s/kcafoew022rsq12/diveassure.png?raw=1" alt="">
                        <h5 class="icon-title color-dark-2 ng-binding">Dive Assure</h5>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 ng-scope" ng-repeat="partner in partners">
                <div class="icon-block style-3 bg-white">
                    <a href="#" target="_blank">
                        <img class="icon-img" src="https://www.dropbox.com/s/u0tqkazcao6vspf/padi.png?raw=1" alt="">
                        <h5 class="icon-title color-dark-2 ng-binding">PADI</h5>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 ng-scope" ng-repeat="partner in partners">
                <div class="icon-block style-3 bg-white">
                    <a href="#" target="_blank">
                        <img class="icon-img" src="https://www.dropbox.com/s/bbtu3nrih0xpqc2/pcssd.png?raw=1" alt="">
                        <h5 class="icon-title color-dark-2 ng-binding">Philippine Commission on Sports  Scubadiving</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div data-type="component-text" data-preview="template/preview/rich_text.png" data-bfeditor-title="Rich Text" data-categories="Text">
    <div class="simple-text">
        <h3>Rich Text Editor</h3>
        <p class="text-muted">Pellentesque ac turpis egestas, varius justo et, condimentum augue.</p>
        <img class="img-responsive img-full radius-5" src="assets/images/placeholder/placeholder_small_2.jpg" alt="">
        <br>
        <ul>
            <li>First Class Boat</li>
            <li>5 Star Accommodations</li>
            <li>Inclusive Packages</li>
            <li>Best Price Guarantee</li>
        </ul>
    </div>
</div>
<div data-type="component-collection" data-preview="template/preview/feed.png" data-bfeditor-title="News Feed" data-categories="Database;List">
    <div data-collection="Feed" id="feed123">
        <div class="form-group">
            <input type="search" class="search form-control" placeholder="Search.." />
        </div>

        <div class="template hide">
            <div class="hotel-small clearfix">
                <a class="hotel-img black-hover" href="#">
                    <img class="img-responsive radius-3" src="assets/placeholder/placeholder_blog_2.jpg" alt="">
                    <div class="tour-layer delay-1 radius-3"></div>
                </a>
                <div class="hotel-desc">
                    <h4>bristol Hotel</h4>
                    <h4>from $273</h4>
                    <div class="hotel-loc">France, Paris</div>
                </div>
            </div>
        </div>

        <div class="row list">
            <div class="hotel-small clearfix">
                <a class="hotel-img black-hover" href="#">
                    <img class="img-responsive radius-3" src="assets/placeholder/placeholder_blog_2.jpg" alt="">
                    <div class="tour-layer delay-1 radius-3"></div>
                </a>
                <div class="hotel-desc">
                    <h4>bristol Hotel</h4>
                    <h4>from $273</h4>
                    <div class="hotel-loc">France, Paris</div>
                </div>
            </div>
            <div class="hotel-small clearfix">
                <a class="hotel-img black-hover" href="#">
                    <img class="img-responsive radius-3" src="assets/placeholder/placeholder_blog_2.jpg" alt="">
                    <div class="tour-layer delay-1 radius-3"></div>
                </a>
                <div class="hotel-desc">
                    <h4>bristol Hotel</h4>
                    <h4>from $273</h4>
                    <div class="hotel-loc">France, Paris</div>
                </div>
            </div>
            <div class="hotel-small clearfix">
                <a class="hotel-img black-hover" href="#">
                    <img class="img-responsive radius-3" src="assets/placeholder/placeholder_blog_2.jpg" alt="">
                    <div class="tour-layer delay-1 radius-3"></div>
                </a>
                <div class="hotel-desc">
                    <h4>bristol Hotel</h4>
                    <h4>from $273</h4>
                    <div class="hotel-loc">France, Paris</div>
                </div>
            </div>
        </div>
        <div class="c_pagination clearfix">
            <ul class="pagination cp_content color-3"></ul>
        </div>
    </div>
</div> -->
<div data-type="component-set" data-preview="template/preview/page_banner.png" data-bfeditor-title="Page Banner" data-categories="Title;Set">
    <div class="row no-padd"  data-set='[
            {"type":"image", "label":"Image"},
            {"type":"text", "label":"Title"},
            {"type":"text", "label": "Description"},
            {"type":"video", "label": "Video"}
        ]' data-record='{"Image":"assets/images/placeholder/placeholder_banner_1.jpg", "Title":"Page Title", "Description": "Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit mi quis leo elementum. Lorem ipsum dolor sit.", "Video":"assets/videos/video.mp4"}'>
        <div class="hide" data-item="">
            <div class="inner-banner style-5 background-block" style="overflow: hidden; text-align: inherit;">
                <video preload="auto" autoplay="true" loop="loop" muted="muted" style="background: url(((Image))) center center / cover;">
                    <source src="((Video))" type="video/mp4">
                    <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
                <div class="bg-overlay"></div>
                <div class="row vertical-align text-center">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <ul class="banner-breadcrumb color-white clearfix">
                            <li><a class="link-blue-2" href="#/">home</a> /</li>
                            <li><span>((page))</span></li>
                        </ul>
                        <h2 class="color-white">((Title))</h2>
                        <p class="color-white">((Description))</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="inner-banner style-5 background-block" style="background: url(assets/images/placeholder/placeholder_banner_1.jpg) center center;">
                <div class="row vertical-align">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <h2 class="color-white">Page Title</h2>
                        <p class="color-white">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit mi quis leo elementum. Lorem ipsum dolor sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-type="component-set" data-preview="template/preview/page_title.png" data-bfeditor-title="Page Title" data-categories="Title;Set">
    <div class="row no-padd"  data-set='[
            {"type":"image", "label":"Image"},
            {"type":"text", "label":"Title"}
        ]' data-record='{"Image":"assets/images/placeholder/placeholder_bg_3.jpg", "Title":"Page Title"}'>
        <div class="hide" data-item="">
            <div class="inner-banner style-6 background-block" style="background: url(((Image))) center center / cover; margin: 92px 0 73px 0 !important;">
                <div class="bg-overlay"></div>
                <div class="vertical-align">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-8 col-md-offset-2">
                                <ul class="banner-breadcrumb color-white clearfix">
                                    <li><a class="link-blue-2" href="#">home</a> /</li>
                                    <li><span>((page))</span></li>
                                </ul>
                                <h2 class="color-white">((Title))</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="inner-banner style-6 background-block" style="background: url(assets/images/placeholder/placeholder_bg_3.jpg) center center / cover; margin: 92px 0 73px 0 !important;">
                <div class="vertical-align">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-8 col-md-offset-2">
                                <ul class="banner-breadcrumb color-white clearfix">
                                    <li><a class="link-blue-2" href="#">home</a> /</li>
                                    <li><span>page</span></li>
                                </ul>
                                <h2 class="color-white">Page Title</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-type="component-hash" data-preview="template/preview/sub_menu.png" data-bfeditor-title="Sub Menu" data-categories="List;Menu">
    <div id="SubMenu" class="row no-padd bg-primary mini visible-sm visible-md visible-lg" style="background: #f58220 !important; border: none !important;">
        <div class="col-md-12">
            <center>
                <div class="hide" data-item="">
                    <li>
                        <a href="" ng-click="scrollTo('((Link))')">((Label))</a>
                    </li>
                </div>
                <ul class="sub-menu nav nav-pills" data-hash=""></ul>
            </center>
        </div>
    </div>
</div>
<div data-type="component-hash" data-preview="template/preview/sticky_menu.png" data-bfeditor-title="Sticky Menu" data-categories="List;Menu">
    <div id="StickyMenu" class="bg-primary mini visible-sm visible-md visible-lg no-border" data-force-show='{"position": "relative", "top": 0}' style="position: relative; top: 0px;">
        <div class="row no-padd" style="background: #f58220; border: 1px solid #f58220;">
            <div class="col-md-12">
                <nav style="width: 100%; padding: 0 30px;">
                    <a href="index.html" class="logo text-primary hide">
                        <img src="assets/images/logo/mvr-logo-horizontal-small.png">
                        <span class="hide"><b>MV</b>Dive</span>
                    </a>
                    
                    <ul class="sub-menu nav nav-pills pull-right">
                        <li class="type-2">
                            <a href="" class="btn" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#myModal">Reservation</a>
                        </li>
                    </ul>

                    <ul class="sub-menu menu nav nav-pills pull-right">
                        <li class="type-1" ng-repeat="page in pages" ng-if="page.type != 'view' &amp;&amp; page.show != false">
                            <a href="#/{{page.link}}" ng-if="!page.sub">{{page.label}}</a>
                            <a href="" ng-if="page.sub">{{page.label}}</a>

                            <ul class="dropmenu" ng-if="page.sub">
                                <li ng-repeat="s in page.sub"><a href="#/{{s.link}}">{{s.label}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div data-type="component-list" data-preview="template/preview/gallery_x1.png" data-bfeditor-title="Gallery x1" data-categories="List;Gallery">
    <div class="row" data-list='[
            {"type":"image", "label":"Image"},
            {"type":"text", "label":"Title"},
            {"type":"text", "label":"Description"},
            {"type":"text", "label":"Link"},
            {"type":"select", "label":"LinkTarget", "options": ["_self","_blank"]},
            {"type":"select", "label":"ColSize", "options": ["col-sm-12", "col-sm-11", "col-sm-10", "col-sm-9", "col-sm-8", "col-sm-7", "col-sm-6", "col-sm-5", "col-sm-4", "col-sm-3", "col-sm-2", "col-sm-1"]}
        ]' data-records='[
            {"_id": 1, "Image":"assets/images/features/dive-boat.jpg", "Title":"Food", "Description":"Nunc cursus libero purus ac cursus.", "ColSize":"col-sm-12"},
            {"_id": 2, "Image":"assets/images/features/dive-center.jpg", "Title":"Food", "Description":"Nunc cursus libero purus ac cursus.", "ColSize":"col-sm-6"},
            {"_id": 3, "Image":"assets/images/features/dive-center.jpg", "Title":"Food", "Description":"Nunc cursus libero purus ac cursus.", "ColSize":"col-sm-6"}
        ]' data-count="3">
        <div class="hide" data-item="">
            <div class="((ColSize))">
                <div class="radius-mask popular-img">
                    <div class="clip">
                        <div class="bg bg-bg-chrome act" style="background-image:url(((Image)))"></div>
                        <div class="bg-overlay"></div>
                    </div>
                    <div class="tour-layer delay-1"></div>
                    <div class="vertical-bottom">
                        <h4><a href="((Link))" target="((LinkTarget))">((Title))</a></h4>
                        <h5><b class="color-aqua">((Description))</b></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="radius-mask popular-img">
                <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(assets/images/features/dive-center.jpg)">
                    </div>
                </div>
                <div class="tour-layer delay-1"></div>
                <div class="vertical-bottom">
                    <h4><a href="#">((Title))</a></h4>
                    <h5><b class="color-aqua">((Description))</b></h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="radius-mask popular-img">
                <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(assets/images/features/dive-boat.jpg)">
                    </div>
                </div>
                <div class="tour-layer delay-1"></div>
                <div class="vertical-bottom">
                    <h4><a href="#">((Title))</a></h4>
                    <h5><b class="color-aqua">((Description))</b></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-type="component-list" data-preview="template/preview/feature_x2.png" data-bfeditor-title="Feature x2" data-categories="List;Feature">
    <div class="row no-padd" data-list='[
            {"type":"image", "label":"Image"},
            {"type":"text", "label":"Title"},
            {"type":"text", "label":"Description"},
            {"type":"text", "label":"BtnText"},
            {"type":"text", "label":"BtnLink"},
            {"type":"select", "label":"ColSize", "options": ["col-sm-12", "col-sm-11", "col-sm-10", "col-sm-9", "col-sm-8", "col-sm-7", "col-sm-6", "col-sm-5", "col-sm-4", "col-sm-3", "col-sm-2", "col-sm-1"]}
        ]' data-records='[
            {"_id": 1, "Image":"assets/images/features/dive-boat.jpg", "Title":"Dive Boat", "Description":"Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.", "BtnText":"view more", "BtnLink": "#", "ColSize":"col-sm-6"},
            {"_id": 2, "Image":"assets/images/features/dive-center.jpg", "Title":"Dive Center", "Description":"Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.", "BtnText":"view more", "BtnLink": "#", "ColSize":"col-sm-6"}
        ]' data-count="2">
        <div class="hide" data-item="">
            <div class="((ColSize))">
                <div class="item-block style-2">
                    <img src="((Image))" class="img-full">
                    <div class="bg-overlay"></div>
                    <div class="tour-layer delay-1"></div>
                    <div class="vertical-align">
                        <h3>((Title))</h3>
                        <p>((Description))</p>
                        <a href="((BtnLink))" class="c-button small border-white"><span>((BtnText))</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="item-block">
                <div class="tour-layer delay-1"></div>
                <div class="vertical-align">
                    <h3>Dive Boat</h3>
                    <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
                    <a href="#" class="c-button small border-white"><span>view more</span></a>
                </div>
                <img src="assets/images/features/dive-boat.jpg" alt="">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="item-block">
                <div class="tour-layer delay-1"></div>
                <div class="vertical-align">
                    <h3>Dive Center</h3>
                    <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
                    <a href="#" class="c-button small border-white"><span>view more</span></a>
                </div>
                <img src="assets/images/features/dive-center.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div data-type="component-list" data-preview="template/preview/gallery_x3.png" data-bfeditor-title="Gallery x3" data-categories="List;Gallery">
    <div class="row col-no-padd" data-list='[
            {"type":"image", "label":"Image"},
            {"type":"text", "label":"Title"},
            {"type":"text", "label":"Description"},
            {"type":"select", "label":"ColSize", "options": ["col-sm-12", "col-sm-11", "col-sm-10", "col-sm-9", "col-sm-8", "col-sm-7", "col-sm-6", "col-sm-5", "col-sm-4", "col-sm-3", "col-sm-2", "col-sm-1"]}
        ]' data-records='[
            {"_id": 1, "Image":"assets/images/features/dive-boat.jpg", "Title":"Food", "Description":"Nunc cursus libero purus ac cursus.", "ColSize":"col-sm-4"},
            {"_id": 2, "Image":"assets/images/features/dive-center.jpg", "Title":"Food", "Description":"Nunc cursus libero purus ac cursus.", "ColSize":"col-sm-4"},
            {"_id": 3, "Image":"assets/images/features/dive-boat.jpg", "Title":"Food", "Description":"Nunc cursus libero purus ac cursus.", "ColSize":"col-sm-4"}
        ]' data-count="3">
        <div class="hide" data-item="">
            <div class="((ColSize))">
                <div class="photo-block hover-aqua">
                    <div class="tour-layer delay-1"></div>
                    <img src="((Image))" alt="">
                    <div class="bg-overlay"></div>
                    <div class="vertical-align">
                        <div class="photo-title">
                        <h4 class="delay-1"><b><span class="color-aqua">((Title))</span></b></h4>
                        <a class="hover-it" href="#"></a>
                        <h5 class="delay-1">((Description))</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="photo-block hover-aqua">
                <div class="tour-layer delay-1"></div>
                <img src="assets/images/features/dive-boat.jpg" alt="">
                <div class="vertical-align">
                    <div class="photo-title">
                    <h4 class="delay-1"><b><span class="color-aqua">((Title))</span></b></h4>
                    <a class="hover-it" href="#"></a>
                    <h5 class="delay-1">((Description))</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="photo-block hover-aqua">
                <div class="tour-layer delay-1"></div>
                <img src="assets/images/features/dive-center.jpg" alt="">
                <div class="vertical-align">
                    <div class="photo-title">
                    <h4 class="delay-1"><b><span class="color-aqua">((Title))</span></b></h4>
                    <a class="hover-it" href="#"></a>
                    <h5 class="delay-1">((Description))</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="photo-block hover-aqua">
                <div class="tour-layer delay-1"></div>
                <img src="assets/images/features/dive-boat.jpg" alt="">
                <div class="vertical-align">
                    <div class="photo-title">
                    <h4 class="delay-1"><b><span class="color-aqua">((Title))</span></b></h4>
                    <a class="hover-it" href="#"></a>
                    <h5 class="delay-1">((Description))</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-type="component-collection" data-preview="template/preview/team.png" data-bfeditor-title="Team" data-categories="Database;List">
    <div data-collection="Team" id="team123">
        <div class="input-style-1 type-2 color-2">
            <input type="search" class="search" placeholder="Search..">
            <br /><br />
        </div>

        <div class="template hide">
            <div class="col-xs-12 col-sm-4">
                <div class="team-entry">
                    <div class="image">
                        <div class="hover-content">
                            <div class="vertical-align" style="padding: 20px;">
                                <p class="color-white Description"></p>
                            </div>
                        </div>
                        <img class="team-img img-responsive Image" src="" alt="" style="width: 100%;">
                    </div>
                    <h3 class="team-name color-dark-2 Fullname"></h3>
                    <h5 class="team-position color-dark-2-light Designation"></h5>
                </div>
            </div>
        </div>

        <div class="row list">
            <div class="col-xs-12 col-sm-4">
                <div class="team-entry">
                    <div class="image">
                        <img class="team-img img-responsive" src="assets/images/placeholder/placeholder_team_3.jpg" alt="">
                    </div>
                    <h3 class="team-name color-dark-2">Inna Kolt</h3>
                    <h5 class="team-position color-dark-2-light">Manager of Tourism</h5>
                    <p class="color-dark-2-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="team-entry">
                    <div class="image">
                        <img class="team-img img-responsive" src="assets/images/placeholder/placeholder_team_2.jpg" alt="">
                    </div>
                    <h3 class="team-name color-dark-2">Mark Letto</h3>
                    <h5 class="team-position color-dark-2-light">Manager of Tourism</h5>
                    <p class="color-dark-2-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="team-entry">
                    <div class="image">
                        <img class="team-img img-responsive" src="assets/images/placeholder/placeholder_team_1.jpg" alt="">
                    </div>
                    <h3 class="team-name color-dark-2">Marry Dols</h3>
                    <h5 class="team-position color-dark-2-light">Manager of Tourism</h5>
                    <p class="color-dark-2-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>

        <div class="c_pagination clearfix" style="margin-bottom: 80px;">
            <ul class="pagination cp_content color-3"></ul>
        </div>
    </div>
</div>
<div data-type="component-collection" data-preview="template/preview/blog.png" data-bfeditor-title="Blog" data-categories="Database;List">
    <div data-collection="Blog" id="blog123" data-pagination="true" data-page="9">
        <div class="form-group">
            <input type="search" class="search form-control" placeholder="Search.." />
        </div>

        <div class="template hide">
            <div class="blog-grid-entry col-sm-4">
                <div class="s_news-entry style-2">
                    <img class="s_news-img img-responsive Image" src="assets/images/placeholder/placeholder_blog_1.jpg" alt="" />
                    <h4 class="s_news-title Title">((Title))</h4>
                    <div class="tour-info-line clearfix">
                        <div class="tour-info fl">
                            <img src="assets/images/icons/calendar_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2 Date">((Date))</span>
                        </div>
                        <div class="tour-info fl">
                            <img src="assets/images/icons/people_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">By <b class="Author">((Author))</b></span>
                        </div>
                        <!-- <div class="tour-info fl">
                            <img src="assets/images/icons/comment_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">((Comments)) comments</span>
                        </div> -->
                    </div>
                    <div class="s_news-text color-grey-3 Preview">((Preview))</div>
                    <a href="((vLink))" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o vLink" data-view-link="">
                        <span>view more</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="blog-grid row list">
            <div class="blog-grid-entry col-sm-4">
                <div class="s_news-entry style-2">
                    <a href="blog_detail.html"><img class="s_news-img img-responsive" src="assets/images/placeholder/placeholder_blog_1.jpg" alt=""></a>
                    <h4 class="s_news-title"><a href="blog_detail.html">Lorem ipsum dolor</a></h4>
                    <div class="tour-info-line clearfix">
                        <div class="tour-info fl">
                            <img src="assets/images/icons/calendar_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">03/07/2015</span>
                        </div>
                        <div class="tour-info fl">
                            <img src="assets/images/icons/people_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">By Emma Stone</span>
                        </div>
                        <div class="tour-info fl">
                            <img src="assets/images/icons/comment_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">10 comments</span>
                        </div>
                    </div>
                    <div class="s_news-text color-grey-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    <a href="blog_detail.html" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o"><span>view more</span></a>
                </div>
            </div>
            <div class="blog-grid-entry col-sm-4">
                <div class="s_news-entry style-2">
                    <a href="blog_detail.html"><img class="s_news-img img-responsive" src="assets/images/placeholder/placeholder_blog_1.jpg" alt=""></a>
                    <h4 class="s_news-title"><a href="blog_detail.html">Lorem ipsum dolor</a></h4>
                    <div class="tour-info-line clearfix">
                        <div class="tour-info fl">
                            <img src="assets/images/icons/calendar_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">03/07/2015</span>
                        </div>
                        <div class="tour-info fl">
                            <img src="assets/images/icons/people_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">By Emma Stone</span>
                        </div>
                        <div class="tour-info fl">
                            <img src="assets/images/icons/comment_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">10 comments</span>
                        </div>
                    </div>
                    <div class="s_news-text color-grey-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    <a href="blog_detail.html" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o"><span>view more</span></a>
                </div>
            </div>
            <div class="blog-grid-entry col-sm-4">
                <div class="s_news-entry style-2">
                    <a href="blog_detail.html"><img class="s_news-img img-responsive" src="assets/images/placeholder/placeholder_blog_1.jpg" alt=""></a>
                    <h4 class="s_news-title"><a href="blog_detail.html">Lorem ipsum dolor</a></h4>
                    <div class="tour-info-line clearfix">
                        <div class="tour-info fl">
                            <img src="assets/images/icons/calendar_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">03/07/2015</span>
                        </div>
                        <div class="tour-info fl">
                            <img src="assets/images/icons/people_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">By Emma Stone</span>
                        </div>
                        <div class="tour-info fl">
                            <img src="assets/images/icons/comment_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">10 comments</span>
                        </div>
                    </div>
                    <div class="s_news-text color-grey-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    <a href="blog_detail.html" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o" data-view-link="">
                        <span>view more</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="c_pagination clearfix" style="margin-bottom: 80px;">
            <ul class="pagination cp_content color-3"></ul>
        </div>
    </div>
</div>
<div data-type="component-set" data-preview="template/preview/blog_info.png" data-bfeditor-title="Blog Info" data-categories="Title;Set">
    <div class="row no-padd"  data-set='[
            {"type":"text", "label":"Author"},
            {"type":"date", "label":"Date"}
        ]' data-record='{"Author":"Author", "Date":"2017-08-01"}'>
        <div class="hide" data-item="">
            <div class="blog-info">
                <div class="tour-info-line container">
                    <div class="tour-info fl">
                        <img src="assets/images/icons/calendar_icon_grey.png" alt="">
                        <span class="text Date">((Date))</span>
                    </div>
                    <div class="tour-info fl">
                        <img src="assets/images/icons/people_icon_grey.png" alt="">
                        <span class="text">By <b class="Author">((Author))</b></span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="blog-info">
            <div class="tour-info-line container">
                <div class="tour-info fl">
                    <img src="assets/images/icons/calendar_icon_grey.png" alt="">
                    <span class="text Date">((Date))</span>
                </div>
                <div class="tour-info fl">
                    <img src="assets/images/icons/people_icon_grey.png" alt="">
                    <span class="text">By <b class="Author">((Author))</b></span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div data-type="component-collection" data-preview="template/preview/course.png" data-bfeditor-title="Courses" data-categories="Database;List">
    <div data-collection="Courses" id="course123">
        <div class="form-group">
            <input type="search" class="search form-control" placeholder="Search.." />
        </div>

        <div class="template hide">
            <div class="col-sm-6">
                <div class="item-block style-2">
                    <img src="((Image))" class="img-full Image">
                    <div class="bg-overlay"></div>
                    <div class="tour-layer delay-1"></div>
                    <div class="vertical-align">
                        <h3 class="Title">((Title))</h3>
                        <p class="Description">((Description))</p>
                        <a href="((vLink))" class="c-button small border-white Link" data-view-link=""><span>Learn More</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row list no-padd">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="item-block">
                    <div class="tour-layer delay-1"></div>
                    <div class="vertical-align">
                        <h3>Dive Boat</h3>
                        <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
                        <a href="#" class="c-button small border-white"><span>view more</span></a>
                    </div>
                    <img src="assets/images/features/dive-boat.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="item-block">
                    <div class="tour-layer delay-1"></div>
                    <div class="vertical-align">
                        <h3>Dive Center</h3>
                        <p>Nunc cursus libero purus ac congue lorem ipsun arcu cursus ut sed solo nequetiam.</p>
                        <a href="#" class="c-button small border-white"><span>view more</span></a>
                    </div>
                    <img src="assets/images/features/dive-center.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="c_pagination clearfix" style="margin-bottom: 80px;">
            <ul class="pagination cp_content color-3"></ul>
        </div>
    </div>
</div>
<div data-type="component-form" data-preview="template/preview/contact_form.png" data-bfeditor-title="Contact Form" data-category="Form">
    <form class="contact-form js-contact-form" action="php/contact.php" method="POST" data-form='[
            {"type":"select", "label":"Type", "options":["text","textarea","email","select"]},
            {"type":"select", "label":"Column", "options":["12","6"]},
            {"type":"text", "label":"Label"},
            {"type":"text", "label":"Name"}
        ]' data-records='[
            {"_id": 1, "Type":"text", "Column":"6", "Label":"Enter your Name", "Name":"Name"},
            {"_id": 2, "Type":"email", "Column":"6", "Label":"Enter your Email", "Name":"Email"},
            {"_id": 3, "Type":"textarea", "Column":"12", "Label":"Enter your Comment", "Name":"Comment"}
        ]' data-count="3">
        <input type="hidden" name="subject" data-subject="" value="Contact Form" />
        <div class="row" data-list="">
            <div class="col-xs-12 col-sm-6">
                <div class="input-style-1 type-2 color-2">
                    <input type="text" name="Name" required="" placeholder="Enter your name">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-style-1 type-2 color-2">
                    <input type="email" name="Email" required="" placeholder="Enter your email">
                </div>
            </div>
            <div class="col-xs-12">
                <textarea class="area-style-1 color-1" name="Comment" required="" placeholder="Enter your comment"></textarea>
                <button type="submit" class="c-button bg-primary"><span>submit</span></button>
            </div>
        </div>
    </form>
</div>

<div data-type="component-set" data-preview="template/preview/contact_info.png" data-bfeditor-title="Contact Info" data-category="List">
    <div  data-set='[
            {"type":"text", "label":"Title"},
            {"type":"text", "label":"Phone"},
            {"type":"text", "label":"Email"},
            {"type":"text", "label":"Address"}
        ]' data-record='{"Title":"Contact Info", "Phone":"+639 99 999 9999", "Email":"mail@host.com", "Address":"123 street, city"}'>
        <div class="contact-info hide" data-item="">
            <h4 class="color-dark-2"><strong>((Title))</strong></h4>
            <div class="contact-line color-grey-3">
                <img src="assets/images/icons/phone_icon_2_dark.png" alt="">Phone: 
                <span class="color-dark-2 tt">((Phone))</span>
            </div>
            <div class="contact-line color-grey-3">
                <img src="assets/images/icons/mail_icon_b_dark.png" alt="">Email us: 
                <span class="color-dark-2 tt">((Email))</span>
            </div>
            <div class="contact-line color-grey-3">
                <img src="assets/images/icons/loc_icon_dark.png" alt="">Address: 
                <span class="color-dark-2 tt">((Address))</span>
            </div>
        </div>
        <div class="contact-info">
            <h4 class="color-dark-2"><strong>Contact Info</strong></h4>
            <div class="contact-line color-grey-3">
                <img src="assets/images/icons/phone_icon_2_dark.png" alt="">Phone: 
                <span class="color-dark-2 tt">+639 99 999 9999</span>
            </div>
            <div class="contact-line color-grey-3">
                <img src="assets/images/icons/mail_icon_b_dark.png" alt="">Email us: 
                <span class="color-dark-2 tt">mail@host.com</span>
            </div>
            <div class="contact-line color-grey-3">
                <img src="assets/images/icons/loc_icon_dark.png" alt="">Address: 
                <span class="color-dark-2 tt">123 street, city</span>
            </div>
        </div>
    </div>
</div>

<div data-type="component-youtube" data-preview="template/preview/youtube.png" data-bfeditor-title="Youtube" data-categories="Media">
    <div class="youtube-wrapper">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uPg8Iio3HCQ?rel=0&amp;showinfo=0?ecver=1"></iframe>
        </div>
    </div>
</div>

<div data-type="component-googlemap" data-preview="template/preview/googlemap.png" data-bfeditor-title="Google Map" data-categories="Media">
        <div class="googlemap-wrapper">
            <div class="embed-responsive embed-responsive-16by9">
                <div class="gmap-mask"></div>
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.4793466290685!2d120.9040903143819!3d13.506148690506771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bcf87d3b4296f3%3A0x55ae62e46ba5bb57!2sMarco+Vincent+Dive+Resort!5e0!3m2!1sen!2sph!4v1500427156898"></iframe>
            </div>
        </div>
</div>